<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reading Record</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
	
<h1>Article List</h1>

<div class="pull-right">
	<a href="/articles/add"><button type="button" class="btn btn-danger">Add</button></a>
</div>

<div class="container">
	<table class="table">
	    <thead>
	        <tr>
	            <th>URL</th>
	            <th>Tag</th>
	            <th>Modified Date</th>
	            <th>&nbsp;</th>
	            <th>&nbsp;</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for row in cursors %}
	    	{% if row[0] in has_word %}
	        <tr>
	            <td><a href="{{row[1]}}" target="_blank">{{row[1]}}</a></td>
	            <td><a href="/articles/list/tag/{{row[2]}}">{{row[2]}}</td>
	            <td>{{row[3]}}</td>
	            <td><a href="/articles/modify/{{row[0]}}"><button type="button" class="btn btn-default btn-xs">Modify</button></a></td>
	            <td><a href="/articles/delete/{{row[0]}}"><button type="button" class="btn btn-default btn-xs">Delete</button></a></td>
	        </tr>
	        {% endif %}
	        {% endfor %}
	    </tbody>
	</table>
</div>

<div>
	<a href="/articles/list">Show All</a>
	<br><br>
	<a href="/top">Top</a>
</div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>