<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reading Record</title>
</head>
<body>
<h1>Modify the Article</h1>

<div>
	<form method="post" action="/articles/modify/{{id}}/execute">
	<table>
	    <tbody>
	    	<tr>
	            <td>URL</td>
	            <td><input type="text" name="url" value="{{url}}"></td>
	        </tr>
	        <tr>
	            <td>Tag</td>
	            <td><input type="text" name="tag" value="{{tag}}"></td>
	        </tr>
	    </tbody>
	</table>
	<div>
		<button type="submit" class="button">Update</button>
	</div>
	</form>
</div>

<div>
	<a href="/articles/list"><button class="button">Back</button></a>
</div>

</body>
</html>